# Better Auth
BETTER_AUTH_SECRET=

# Resend (email OTP)
NUXT_PRIVATE_RESEND_API_KEY=
NUXT_PRIVATE_SENDER_EMAIL=

# NuxtHub - Neon PostgreSQL
DATABASE_URL=

# evlog - Axiom drain adapter
NUXT_AXIOM_TOKEN=
NUXT_AXIOM_DATASET=

# evlog - OTLP drain adapter
NUXT_OTLP_ENDPOINT=

# evlog - PostHog drain adapter
NUXT_POSTHOG_API_KEY=
NUXT_POSTHOG_HOST=

# evlog - Sentry drain adapter
NUXT_SENTRY_DSN=

# evlog - Better Stack drain adapter
NUXT_BETTER_STACK_SOURCE_TOKEN=
